/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

img {
    display: block;
}

html, body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: inherit;
}

.header {
    background-image: url("../img/img320.png");
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 138px;
    box-sizing: inherit;
}

.log-wrapper {
    margin: 0 auto;
    text-align: center;
    box-sizing: inherit;
    margin-bottom: 112px;
}

.log-btn {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    width: 90px;
    height: 36px;
    border-radius: 40px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.left {
margin-right: -5px;
}

.right {
margin-left: -5px;
}

.log-btn:hover {
    border: 2px solid rgb(255, 255, 255);
}

.logo {
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
    margin: 0 auto 34px;
}

.heading {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 8px;
}

.heading__description {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px;
    padding: 0 45px;
}

.func-btn {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
}